<site:header title="Welcome to Lucinda Framework 3.0" version="${data.version}"/>

<:if test="isset(${data.status})">
<site:status value="${data.status}"/>
</:if>

<p class="panel"><strong>You are now logged in!</strong> To access administrator area, go to <a href="/restricted">restricted</a> page. [<a href="/logout">LOGOUT</a>].</p>
		
<site:welcome/>

<h2>Files Created or Changed</h2>
<p>Following mock files were created:</p>
<ul>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/classes#controllers" target="_blank">src/Controllers</a></strong>: holds mock controllers created depending on your choices
		<ul>
			<li><em>Index.php</em></li>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/templates" target="_blank">templates/tags</a></strong>: mock tags are added depending on your choices
		<ul>
			<li><em>site/header.html</em></li>
			<li><em>site/footer.html</em></li>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/templates" target="_blank">templates/views</a></strong>: mock views are added depending on your choices
		<ul>
			<li><em>index.html</em></li>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/bootstrap" target="_blank">index.php</a></strong>: following <a href="https://www.lucinda-framework.com/documentation/classes#event-listeners" target="_blank">event listeners</a> were added:<br/>
		<ul>
			<:if test="!empty(${data.features.logging})">
			<li>Lucinda\Project\EventListeners\Logging</li>
			</:if>
			<:if test="!empty(${data.features.sqlServer})">
			<li>Lucinda\Project\EventListeners\SQLDataSource</li>
			</:if>
			<:if test="!empty(${data.features.nosqlServer})">
			<li>Lucinda\Project\EventListeners\NoSQLDataSource</li>
			</:if>
			<:if test="!empty(${data.features.security})">
			<li>Lucinda\Project\EventListeners\Security</li>
			</:if>
			<:if test="!empty(${data.features.internationalization})">
			<li>Lucinda\Project\EventListeners\Localization</li>
			</:if>
			<:if test="!empty(${data.features.headers})">
			<li>Lucinda\Project\EventListeners\HttpHeaders</li>
			</:if>
			<:if test="!empty(${data.features.headers.cors})">
			<li>Lucinda\Project\EventListeners\HttpCors</li>
			</:if>
			<:if test="!empty(${data.features.headers.caching})">
			<li>Lucinda\Project\EventListeners\HttpCaching</li>
			</:if>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/stdout-xml" target="_blank">stdout.xml</a></strong>: file was rewritten to fit your choices, setting following tags<br/>
		<ul>
			<li>application</li>
			<li>routes</li>
			<li>resolvers</li>
			<:if test="(!empty(${data.features.internationalization.detectionMethod}) && ${data.features.internationalization.detectionMethod}==2) || (!empty(${data.security}) && ${data.security.persistenceDrivers}==0)">
			<li>session</li>
			</:if>
			<li>templating</li>
			<:if test="!empty(${data.features.logging})">
			<li>loggers</li>
			</:if>
			<:if test="!empty(${data.features.sqlServer})">
			<li>sql</li>
			</:if>
			<:if test="!empty(${data.features.nosqlServer})">
			<li>nosql</li>
			</:if>
			<:if test="!empty(${data.features.security})">
			<li>security</li>
			</:if>
			<:if test="!empty(${data.features.security}) && ${data.features.security.authenticationMethod}==2">
			<li>users</li>
			</:if>
			<:if test="!empty(${data.features.internationalization})">
			<li>internationalization</li>
			</:if>
			<:if test="!empty(${data.features.headers})">
			<li>headers</li>
			</:if>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/stderr-xml" target="_blank">stderr.xml</a></strong>: file was rewritten to fit your choices, setting following tags<br/>
		<ul>
			<li>application</li>
			<li>display_errors</li>
			<li>routes</li>
			<li>resolvers</li>
			<li>reporters</li>
		</ul>
	</li>
<:if test="!(${data.features.security.authenticationMethod}==2 && ${data.features.security.authorizationMethod}==1)">
	<li><strong><strong><a href="https://www.lucinda-framework.com/documentation/classes#dao" target="_blank">src/DAO</a></strong></strong>: following data access object classes are created according to your choices:<br/>
		<ul>
			<:if test="${data.features.security.authorizationMethod}==0">
			<li><em>PagesAuthorization</em>: stores the logic by which routes are checked in database for rights</li>
			<li><em>UsersAuthorization</em>: stores the logic by which users are matched to routes in database for access rights</li>
			</:if>        
			<li><em>UsersFormAuthentication</em>: stores the logic by which form login is checked in database</li>
			<:if test="${data.features.security.authenticationMethod}==1">
			<li><em>UsersOAuth2Authentication</em>: stores the logic by which oauth2 users are registered and checked in database</li>
			</:if>
		</ul>
	</li>
</:if>
</ul>

<h2>Tables Added</h2>
<p>Following MySQL tables were created:</p>
<ul>			
	<:if test="${data.features.security.authenticationMethod}==0">
	<li><em>users</em>: stores your site users</li>
	<:elseif test="${data.features.security.authenticationMethod}==1">
	<li><em>oauth2_providers</em>: stores all supported providers (facebook, google, github, instagram, linkedin, yahoo, yandex, vk)</li>
	<li><em>users</em>: stores your site users by id, name, email</li>
	<li><em>users_form</em>: stores list of users logging in by form</li>
	<li><em>users_oauth2</em>: stores list of users logging in by oauth2 providers</li>
	</:if>
	<:if test="${data.features.security.authorizationMethod}==0">
	<li><em>resources</em>: stores list of site resources (all values of <i class="red">url</i> attribute in routes @ <strong><a href="https://www.lucinda-framework.com/documentation/stdout-xml" target="_blank">stdout.xml</a></strong> must be present here)</li>
	<li><em>roles</em>: stores list of roles for your site</li>
	<li><em>users_roles</em>: stores roles users belong to</li>
	<li><em>roles_resources</em>: stores resources allowed per role</li>		
	</:if>										
</ul>

<h2>Roles Created</h2>
<p>Following mock roles were created:</p>

<ul>
	<li><em>GUESTS</em>: implicit role for non-logged in users</li>
	<li><em>MEMBERS</em>: default role for logged in users</li>
	<li><em>ADMINISTRATORS</em>: default role for super users</li>
</ul>

<h2>Users Created</h2>
<p>Following mock users were created:</p>
<ul>
	<li><em>John Doe</em> (username: <i>john</i>, password: <i>doe</i>), belonging to <em>MEMBERS</em> and <em>ADMINISTRATORS</em> roles</li>
	<li><em>Jane Doe</em> (username: <i>jane</i>, password: <i>doe</i>), belonging to <em>MEMBERS</em> role</li>
</ul>
<site:footer/>