<site:header title="Welcome to Lucinda Framework 3.2"/>

<site:welcome/>

<h2>Files Created or Changed</h2>
<p>Following mock files were created:</p>
<ul>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/classes#controllers" target="_blank">src/Controllers</a></strong>: holds mock controllers created depending on your choices
		<ul>
			<li><em>Index.php</em></li>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/templates" target="_blank">templates/tags</a></strong>: mock tags are added depending on your choices
		<ul>
			<li><em>site/header.html</em></li>
			<li><em>site/footer.html</em></li>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/templates" target="_blank">templates/views</a></strong>: mock views are added depending on your choices
		<ul>
			<li><em>index.html</em></li>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/bootstrap" target="_blank">index.php</a></strong>: following <a href="https://www.lucinda-framework.com/documentation/classes#event-listeners" target="_blank">event listeners</a> were added:<br/>
		<ul>
			<:if test="!empty(${data.features.logging})">
			<li>Lucinda\Project\EventListeners\LoggingListener
			</:if>
			<:if test="!empty(${data.features.sqlServer})">
			<li>Lucinda\Project\EventListeners\SQLDataSource</li>
			</:if>
			<:if test="!empty(${data.features.nosqlServer})">
			<li>Lucinda\Project\EventListeners\NoSQLDataSource</li>
			</:if>
			<:if test="!empty(${data.features.security})">
			<li>Lucinda\Project\EventListeners\Security</li>
			</:if>
			<:if test="!empty(${data.features.internationalization})">
			<li>Lucinda\Project\EventListeners\Localization</li>
			</:if>
			<:if test="!empty(${data.features.headers})">
			<li>Lucinda\Project\EventListeners\HttpHeaders</li>
			</:if>
			<:if test="!empty(${data.features.headers.cors})">
			<li>Lucinda\Project\EventListeners\HttpCors</li>
			</:if>
			<:if test="!empty(${data.features.headers.caching})">
			<li>Lucinda\Project\EventListeners\HttpCaching</li>
			</:if>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/stdout-xml" target="_blank">stdout.xml</a></strong>: file was rewritten to fit your choices, setting following tags<br/>
		<ul>
			<li>application</li>
			<li>routes</li>
			<li>resolvers</li>
			<:if test="(!empty(${data.features.internationalization.detectionMethod}) && ${data.features.internationalization.detectionMethod}==2) || (!empty(${data.security}) && ${data.security.persistenceDrivers}==0)">
			<li>session</li>
			</:if>
			<li>templating</li>
			<:if test="!empty(${data.features.logging})">
			<li>loggers</li>
			</:if>
			<:if test="!empty(${data.features.sqlServer})">
			<li>sql</li>
			</:if>
			<:if test="!empty(${data.features.nosqlServer})">
			<li>nosql</li>
			</:if>
			<:if test="!empty(${data.features.security})">
			<li>security</li>
			</:if>
			<:if test="!empty(${data.features.security}) && ${data.features.security.authenticationMethod}==2">
			<li>users</li>
			</:if>
			<:if test="!empty(${data.features.internationalization})">
			<li>internationalization</li>
			</:if>
			<:if test="!empty(${data.features.headers})">
			<li>headers</li>
			</:if>
		</ul>
	</li>
	<li><strong><a href="https://www.lucinda-framework.com/documentation/stderr-xml" target="_blank">stderr.xml</a></strong>: file was rewritten to fit your choices, setting following tags<br/>
		<ul>
			<li>application</li>
			<li>display_errors</li>
			<li>routes</li>
			<li>resolvers</li>
			<li>reporters</li>
		</ul>
	</li>
</ul>

<site:footer/>
