<site:header title="Login Page"/>

<:if test="isset(${data.status})">
<site:status value="${data.status}"/>
</:if>

<p class="panel">To return to homepage, go <a href="/">here</a>.</p>

<form action="" method="POST">
    Username: <input type="text" name="username" required/><br/>
    Password: <input type="password" name="password" required/><br/>
    <input type="checkbox" name="remember_me" value="1" checked/> Remember me<br/>
    <input type="hidden" name="csrf" value="${data.csrf}"/>
    <input type="submit" value="LOGIN" ${(${data.wait}?"disabled":"")}/>
    <:if test="${data.wait}">
    <strong>Please wait for ${data.wait} seconds until next login!</strong>
    </:if>
</form>

<p class="panel">Use username '<i>john</i>' and password '<i>doe</i>' or username '<i>jane</i>' and password '<i>doe</i>'! To see throttling in action, try to login many times with same username and wrong password...</p>

<site:footer/>