<site:top title="Administrators Area"/>

<p>Welcome to administrators page: your user id is "<strong>${data.uid}</strong>"! [<a href="/logout">LOGOUT</a>]</p>

<p><a href="/">Back to HOME!</a></p>
<hr/>
<small>
	Details for this page:
	<ul>
		<li><strong>controller</strong>: application/controllers/RestrictedController.php</li>
		<li><strong>view</strong>: application/views/restricted.html</li>
		<li><strong>route @ stdout.xml</strong>: &lt;route url="restricted" controller="RestrictedController" view="restricted" ... /&gt;</li>		
	</ul>
</small>
<site:bottom/>